body {
                font-family: Arial, Helvetica, sans-serif;
                background-color: #4F2C73;
            }
            h1 {
                color: #6E4D8F;
                background-color: #1F0439;
                padding: 1.5rem;
            }
            h2 {
                color: #9177AC
            }
            p {
                    margin: 1.5rem;
                }
                img {
                    float: right;
                    border: 2px #ffffff solid; /** controls border width, color, line style **/
                    margin: .65rem;
                    max-width: 100%;
                }