body {
                font-family: "Share Tech", sans-serif;
                font-weight: 400;
                font-style: normal;
                background-color: #3e65e7;
}
            h1 {
                font-size: 40px;
                color: #edf7f7;
                background-color: #2600ff9d;
                padding: 1.5rem;
            }
            h2 {
                color: #edf7f7 
            }
            p {
                    margin: 1.5rem;
                }
                img {
                    float: right;
                    border: 2px #ffffff solid; /** controls border width, color, line style **/
                    margin: .65rem;
                    max-width: 100%;
                }
                hr {
                    border: 1px solid red;
                    padding: .2rem;
                }
                a:link {
                    color: deeppink;
                    text-decoration: none; }
                a:visited {
                    color: #ffffff88; }
                a:hover {
                    color: #C70039;
                    text-decoration: underline; }
                a:active {
                    color: rgb(2, 61, 61); }