body {
                font-family: Arial, Helvetica, sans-serif;
                background-color: #77a8cb;
            }
            h1 {
                color: #6e5588;
                background-color: #1F0439;
                padding: 1.5rem;
                text-transform: uppercase;
                font-family:'Courier New', Courier, monospace;
            }
            h2 {
                color: #9177AC
            }
            p {
                    margin: 1.5rem;
                    line-height: 1.5rem;
                    font-family: "Courier New", Courier, monospace;
                }
                img {
                    float: right;
                    border: 2px #ffffff solid; /** controls border width, color, line style **/
                    margin: .65rem;
                    max-width: 100%;
                }
                a:link {
                    color: rgb(168, 6, 92);
                    text-decoration: none; } 
                a:visited {
                    color: #000dff88; }
                a:hover {
                    color: #C70039;
                    text-decoration: underline; }
                a:active {
                    color: darkcyan; }

                
                