h2 {
    text-align: center;
    background-color: aliceblue;
    padding: 12px;
    margin: 0px;
}
nav li {
    list-style-type: none;
    background-color: black;
    margin: 1rem;
}
nav a {
    text-decoration: none;
    color: lightgray;
    padding: 25px;
}
nav a:hover {
    color: palegoldenrod;
    background-color: black;
}
nav ul {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 25px;
    margin: 0;
    flex-wrap: wrap;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 12px;
}
h1 {
    color: purple;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
html, body {
    height: 100%;
    margin: 0;
}
main {
    flex: 1;
}