/*HOME PAGE START CSS*/
body {
    background-color: #1B365C;
    color: white;
    margin: 1.5rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    background-color: #4D7AA8;
    color: white;
    text-decoration: none;
    border-radius: .8rem;
}
.navbar {
    width: fit-content;
    background-color: #4D7AA8;
    border-radius: 20px;
    margin: 20px auto;
    padding: 15px;
    transition: transform 0.2s, border-radius 0.2s;
}
nav li {
    background-color: #4D7AA8;
    border-radius: .8rem;
}
nav a {
    text-decoration: none;
    color: white;
    padding: 15px 25px;
    font-size: 20px;
    display: block;
}
nav a:hover {
    color: gold;
    transform: scale(1.1);
    border-radius: 20px;
    background-color: #1B365C;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
h1.logo {
    text-decoration: none;
    text-align: center;
}
h1 a {
    text-decoration: none;
    color: #1B365C;
    background-color: rgb(255, 211, 81);
    width: 9rem;
    height: 6rem;
    padding: 2rem;
    border-radius: 50%
}
h1 a:hover {
    color: #1B365C;
    background-color: white; 
}
footer {
    text-align: center;
    background-color: rgb(255, 211, 81);
    color: #1B365C;
    padding: 1rem;
    border-radius: .8rem;
}
html, body {
    height: 100%;
    margin: 1rem;
}
main {
    flex: 1;
    margin: 0;
    border: 0;
}
.bg {
    width: 100%;
    height: 400px;
    background-image: url(../../images/backgroundimg.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 45% 30%;
    margin: 20px 0;
    border-radius: .8rem;
}
article {
    background-color: #4D7AA8;
    padding: 1.3rem;
    border: 1px solid white;
    margin: .5rem;
    margin-bottom: 1.5rem;
    border-radius: .8rem;
}
.about-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.about-text {
    width: 60%
}
.about-text p {
    font-size: 18px;
    line-height: 1.6;
}
.about-img {
    width: 250px;
    height: auto;
    border: .8rem solid white;
}
h2 {
    font-size: 32px;
}
/* HOME PAGE END CSS */
/* EXPERIENCE PAGE START CSS */
.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding: 5px;
    justify-items: center;
}
.skills img {
    max-height: 180px;
    width: 100%;
    padding: 20px;
    object-fit: contain;
    border-radius: 2rem;
    display: block;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* PORTFOLIO PAGE CSS */
.portfolio a:link {
    color: #1B365C;
    text-decoration: none; 
}
.portfolio a:visited {
    color: rgb(255, 211, 81); 
}
.portfolio a:hover {
    color: black;
    text-decoration: underline; 
}
.portfolio a:active {
    color: rgb(2, 61, 61); 
}
.portfolio {
    font-size: 18px;
}
/*CONTACT PAGE CSS */
.contactall {
    display: grid; 
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
.contact a:link {
    color: rgb(255, 211, 81);
    text-decoration: none; 
}
.contact a:visited {
    color: #1B365C; 
}
.contact a:hover {
    color: black;
    text-decoration: underline; 
}
.contact a:active {
    color: rgb(2, 61, 61); 
}
.contact {
    display: grid;
    font-size: 20px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.contactimg {
    display: grid;
    height: auto;
    object-fit: cover;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 1rem;
}
.contacthead {
    grid-row: 1 / 2;
}